.profile {
  max-width: 30%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.avatar {
  display: flex;
  max-width: 30%;
  margin-top: 20px;
  border-radius: 50%;
  border: 5px solid black;
}

.name {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  align-items: center;
}

.tag {
  color: grey;
  margin: 5px;
  font-size: 2rem;
  color: #8a8b8e;
}

.location {
  color: gray;
  margin: 10px;
  font-size: 2rem;
  color: #8a8b8e;
}

.stats {
  display: flex;
  list-style: none;
  gap: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

.statsList {
  border-radius: 0 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.label {
  padding-bottom: 0.5rem;
  color: grey;
}

.quantity {
  font-weight: bold;
  border-radius: 10px;
}
